certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
contourpy==1.1.1
cryptography==44.0.0
cycler==0.12.1
fonttools==4.55.2
idna==3.10
importlib_resources==6.4.5
Jinja2==3.1.4
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.7.5
numpy==1.24.4
oauthlib==3.2.2
packaging==24.2
pillow==10.4.0
pycparser==2.22
pykerberos==1.2.4
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
urllib3==2.2.3
zipp==3.20.2
